# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# PyTorch checkpoints & models
checkpoints/
final_model.pth

# macOS
.DS_Store
